<h1>Menu</h1>
<div style="">
	<% @svi_palacinci.each do |jedan_pojedinacan_proizvod| %>
	<p><%= jedan_pojedinacan_proizvod.ime %>..............................<%= jedan_pojedinacan_proizvod.cena %></p> 
	<% end %>

	<br>
	<br>
	<br>
	<br>
	<br>

	<% @svi_burgeri.each do |jedan_pojedinacan_proizvod| %>
		<p><%= jedan_pojedinacan_proizvod.ime %>..............................<%= jedan_pojedinacan_proizvod.cena %></p>
	<% end %>
</div>
