*{margin: 0; padding: 0;}
.clr {
	clear: both;
}



#wrapp {
	height: 460px;
	width: 80%;
	
	margin: 50px auto;
	padding: 20px;
}
#border1{
	height: 211px;
	width: 740px;
	
	float: left;
	margin-bottom: 20pxl
	
}
#border4{
	height: 211px;
	width: 740px;
	
	float: left;
	margin-top: 30px;
	
}

#border2{
	height: 211px;
	width: 740px;
	
	float: left;
	
	margin-top: 30px;
}
	
#border3{
	height: 211px;
	width: 740px;
	
	float: left;
	
}

.thumb {
	height: 210px;
	width: 210px;
	border: 3px solid rgb(234, 39, 39);;
	border-radius: 50px 50px;
	margin-left: 15px;
	margin-bottom: 20px;
	float: left;
	text-align: center;
	color: white;
	font-family: Impact;
	font-style: italic;
}

.thumb p{
	font-size: 1.5em;
	margin-top: 130px;
}

.thumb p span{
	font-size: 1.2em;
}

.kais{
	border-radius: 30px 30px;
}

#slika1{
	background-image: url(asset-path('velika.jpg'));
	margin-bottom: 20px;
}
#slika2
{
	background-image: url(asset-path('gurmanska.jpg'));
	margin-bottom: 20px;
}
#slika3
{
	background-image: url(asset-path('punjena.jpg'));
	margin-bottom: 20px;
}
#slika4
{
	background-image: url(asset-path('slatke-palacinke.jpg'));
	margin-left: 60px;
}
#slika5
{
	background-image: url(asset-path('slane.jpg'));
}
#slika6
{
	background-image: url(asset-path('ultra.jpg'));
}
#slika7
{
	background-image: url(asset-path('super.jpg'));
}
#slika8
{
	background-image: url(asset-path('capricoza.jpg'));
}
#slika9
{
	background-image: url(asset-path('margarita.jpg'));

}
#slika10
{
	background-image: url(asset-path('hotdog.jpg'));
	margin-left: 60px;
}
#slika11
{
	background-image: url(asset-path('hotdog.jpg'));
}
#slika12
{
	background-image: url(asset-path('hotdog.jpg'));
}