<div id="footer">
	<div class="colona-20 odstojanje">
		<ul>
			<li style="color: transparent;">.</li>
			<li style="color: transparent;">.</li>
		</ul>
	</div>

	<div class="colona-30 odstojanje">
		<ul>
			<li style="font-weight: bold;">Dostava</li>
			<li>011/123-456</li>
			<li>064/123-45-67</li>
		</ul>
	</div>

	<div class="colona-30 odstojanje">
		<ul>
			<li style="font-weight: bold;">Informacije</li>
			<li>www.fastfood@gmail.com</li>
			<li><a href="http://www.goluxtech.com" target="blank" class="golux">&copy; Golux Technology Center</a></li>
		</ul>
	</div>

	<div class="colona-20 odstojanje">
		<ul>
			<li style="color: transparent;">.</li>
			<li style="color: transparent;">.</li>
		</ul>
	</div>
</div>